APP_NAME="Archive MVP"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-app.onrender.com

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db.jrpfgxqbdsicfgdafwyp.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=h7DzsC/K*Kjau$U



SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpycGZneHFiZHNpY2ZnZGFmd3lwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4MjA0OTgsImV4cCI6MjEwMDM5NjQ5OH0.YjFDluWfImpv-N8galCLcF1DxeEaM2dAPtHD112kRHk
SUPABASE_JWT_SECRET=vDMN5nW1IH/x40yeNE/pjX74L1+qDymsFvwEoyXa/5LRIdD1zGY5cLmaQiUBqVbUPSFdjP3jK7DjdWCzPMj/HQ==
SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
